# Ignore object files 
*.o

# Ignore coredumps
vgcore*

# Ignore LSP cache
.ccls-cache/

# Ignore all these output binaries
trie

# Ignore python stuff
*.pyc
__pycache__

# Ignore shared object files
*.so
