# Ignore object files 
*.o

# Ignore coredumps
vgcore*

# Ignore LSP cache
.ccls-cache/

# Ignore all these output binaries
trie

# Ignore python stuff
*.pyc
__pycache__

# Ignore shared object files
*.so

# Ignore notebook checkpoints 
.ipynb_checkpoints/
# Ignore ipynb files
*.ipynb

# Ignore any compressed outputs 
*.lz

# Ignore callgrind output
callgrind*
cachegrind*
# Ignore perf output
perf.data*
perf.hist*
profile.*
*.gprof
gmon.out
